---
layout: simple-page
title: Community
subtitle: We are an open-source grassroots community gathering companies, academia, and hobbyists, distributed all around the world, to build a better IoT.
---

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container">

        <div class="row content">
          <div class="col-12 col-lg-6">
            <p class="lead">
              RIOT is developed by an open community that anyone is welcome to join:
              The RIOT community is driven by rough consensus.
            </p>
          </div>
          <div class="col-12 col-lg-6 pt-4 pt-lg-0">
            <p class="lead">
              TODO: say something how to connect, Summits, and history.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section>
       <div class="col-12 col-md-4">
         <div class="card" style="width:400px">
           <img class="card-img-top" src="/assets/img/discourse_logo.png" alt="Card image">
           <div class="card-body">
             <h4 class="card-title">John Doe</h4>
             <p class="card-text">Some example text.</p>
             <a href="#" class="btn btn-primary">See Profile</a>
           </div>
         </div>
         <div class="card" style="width:400px">
           <img class="card-img-top" src="/assets/img/discourse_logo.png" alt="Card image">
           <div class="card-body">
             <h4 class="card-title">John Doe</h4>
             <p class="card-text">Some example text.</p>
             <a href="#" class="btn btn-primary">See Profile</a>
           </div>
         </div>
       </div>
    </section>

    <section id="features" class="features">
     <div class="container">

       <div class="col-12 col-md-4">
         <div class="card border-0 d-flex">
           <div class="card-header p-3 border-0 flex-items-center flex-justify-center d-flex h-100">
             <a href="https://forum.riot-os.org"><img class="card-img-top" src="/assets/img/discourse_logo.png"></a>
           </div>
           <div class="card-body">
             <div class="card-text">
               <p class="fw-bold">
                 Raise your questions in our forum.
               </p>
             </div>
           </div>
         </div>
         </div>
         </div>
         <div class="card border-0 d-flex">
          <div class="card-header p-3 border-0 flex-items-center flex-justify-center d-flex h-100">
            <a href="https://github.com/RIOT-OS/RIOT/"><img class="card-img-top" src="/assets/img/GitHub_Logo.png"></a>
          </div>
          <div class="card-body">
            <div class="card-text">
              <p class="fw-bold">
                Contribute your code. Download RIOT.
              </p>
            </div>
          </div>
        </div>
     </div>
  </div>
  </div>

    </section><!-- End Features Section -->

    <!-- ======= Summit Section ======= -->
    <section id="summit" class="summit">
      <div class="container">
        <div class="section-title">
          <h2>RIOT Summit</h2>
          <p>The yearly get-together of the RIOT community.</p>
        </div>

        <div class="row">
            <!-- per Summit -->
            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <h2>RIOT Summit 2016</h2>
                <h3>Berlin, Germany</h3>
                <a href="https://summit.riot-os.org/2016" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2016.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Ralph Droms (Cisco and former IETF Internet Area Director</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <h2>RIOT Summit 2017</h2>
                <h3>Berlin, Germany</h3>
                <a href="https://summit.riot-os.org/2017" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2017.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Gilles Van Assche
                    (Senior Security Engineer, STMicroelectronics)</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <h2>RIOT Summit 2018</h2>
                <h3>Amsterdam, Netherlands</h3>
                <a href="https://summit.riot-os.org/2018" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2018.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Jaime Jiménez (Ericsson and Co-Chair IETF CoRE)</p>
                  </div>
                </a>
              </div>
            </div>
       </div>

        <div class="row mt-4">
            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <h2>RIOT Summit 2019</h2>
                <h3>Helsinki, Finland</h3>
                <a href="https://summit.riot-os.org/2019" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2019-02.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Jari Arkko (Ericsson and former IETF Chair)</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <h2>RIOT Summit 2020</h2>
                <h3>Online, the Internet</h3>
                <a href="https://summit.riot-os.org/2020" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2020.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Andrew S. Tanenbaum</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- end per Summit -->
        </div>
      </div>
    </section><!-- End Blog Section -->
    <!-- ======= End Summit Section ======= -->

  <section class="container">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>History</p>
      </div>

      <div id="timeline">
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded" data-aos="fade-right">
              <div class="card-body">
                <h4>2008</h4>
                <p>
                  <p>
                    Project roots. The seed for RIOT was FeuerWare, an operating system for Wireless
                    Sensor Networks. It was part of the FeuerWhere project where firefighters should
                    be monitored. Major design goals were reliability and real-time guarantees.
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-6 text-start position-relative">
            <div class="card shadow p-2 border-0 rounded" data-aos="fade-left">
              <div class="card-body">
                <h4>2010</h4>
                <p>
                  Towards Internet compliance. To increase modularity and include new IETF
                  protocols, &micro;kleos was forked from the orignal FeuerWare repository. Support
                  for 6LoWPAN, RPL, and TCP was integrated over the following years.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded" data-aos="fade-right">
              <div class="card-body">
                <h4>2013</h4>
                <p>
                  RIOT goes public, founded by Freie Universit&auml;t Berlin, INRIA, and HAW
                  Hamburg. RIOT is the direct successor of µkleos. We decided on re-branding to
                  avoid problems with spelling and pronouncing the name of the operating system. We
                  explicitly promote RIOT to a larger community.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-6 text-start position-relative">
            <div class="card shadow p-2 border-0 rounded" data-aos="fade-left">
              <div class="card-body">
                <h4>2016</h4>
                <p>
                  The RIOT community is growing. To bring RIOTers together, we organized the first
                  RIOT Summit, which accommodates plenary talks, hands-on tutorials, and demos, as
                  well as lively discussions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded" data-aos="fade-right">
              <div class="card-body">
                <h4>Future</h4>
                <p>
                  We have a <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Vision">vision</a>.
                  Be part of the community and follow ongoing enhancements in our
                  <a href="https://github.com/RIOT-OS/RIOT/labels/Type%3A%20new%20feature">issue tracker</a>.
                  Start working on new features or let the RIOT community know what you miss!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

    <div id="community">
      <!-- <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <p>History</p>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <h4>2008</h4>
            <p>
              <p>Project roots. The seed for RIOT was FeuerWare, an operating system for Wireless Sensor Networks. It was part of the FeuerWhere project where firefighters should be monitored. Major design goals were reliability and real-time guarantees.</p>
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>2010</h4>
              <p>
                Towards Internet compliance. To increase modularity and include new IETF protocols, &micro;kleos was forked from the orignal FeuerWare repository. Support for 6LoWPAN, RPL, and TCP was integrated over the following years.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>2013</h4>
              <p>
                RIOT goes public, founded by Freie Universit&auml;t Berlin, INRIA, and HAW Hamburg. RIOT is the direct successor of µkleos. We decided on re-branding to avoid problems with spelling and pronouncing the name of the operating system. We explicitly promote RIOT to a larger community.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>2016</h4>
              <p>
                The RIOT community is growing. To bring RIOTers together, we organized the first RIOT Summit, which accommodates plenary talks, hands-on tutorials, and demos, as well as lively discussions.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>Future</h4>
              <p>
                We have a <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Vision">vision</a>. Be part of the community and follow ongoing enhancements in our <a href="https://github.com/RIOT-OS/RIOT/labels/Type%3A%20new%20feature">issue tracker</a>. Start working on new features or let the RIOT community know what you miss!
              </p>
          </div>
        </div>
      </div> -->

      <div class="container">
        <div class="section-title mt-5">
          <p>Scientific Papers</p>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <ul>
              <li>Heiko Will, Kaspar Schleiser, and Jochen H. Schiller, "A real-time kernel for wireless sensor networks employed in rescue scenarios", in Proceedings of IEEE Conference on Local Computer Networks (LCN), 2009.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
              <ul>
                <li>Emmanuel Baccelli, Oliver Hahm, Mesut Günes, Matthias W&auml;hlisch, Thomas C. Schmidt, "RIOT OS: Towards an OS for the Internet of Things," in Proceedings of the 32nd IEEE International Conference on Computer Communications (INFOCOM), Poster Session, April 2013.</li>
              </ul>
          </div>
          <div class="col-12 col-md-4">
              <ul>
                <li>Emmanuel Baccelli, Cenk Gündogan, Oliver Hahm, Peter Kietzmann, Martine Lenders, Hauke Petersen, Kaspar Schleiser, Thomas C. Schmidt, Matthias W&auml;hlisch, RIOT: An Open Source Operating System for Low-End Embedded Devices in the IoT, IEEE Internet of Things Journal, Vol. 5, No. 6, pp. 4428-4440, December 2018.</li>
              </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title mt-5">
          <p>Acknowledgments and Contact</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <h4>Personal Thanks</h4>
            <p>
              To the original authors of FeuerWare, the members of the research projects AVS Extrem, G-Mesh-Lab, OPNEX, SAFEST, and VIVE, and anybody else who has contributed to FeuerWare, µkleos, and RIOT. Furthermore, a special thank goes to Peter Schmerzl!
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>Supporters</h4>
              <p>
                RIOT is significantly supported by Freie Universität Berlin, by INRIA, and by Hamburg University of Applied Sciences.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>Contact</h4>
              <p>
                Many people are working on RIOT. Public development questions should be directed to the RIOT forum. If you require one-to-one communication for other development questions, you can contact the RIOT maintainers, and for questions related to formal project establishment or collaboration, you can contact Emmanuel Baccelli, Thomas Schmidt, and Matthias W&auml;hlisch.
              </p>
          </div>
        </div>

      </div>
    </div>

    <section id="social-media">
      <div class="container-fluid background-dark text-white p-5">
        <div class="container" data-aos="zoom-out">
          <div class="row">
            <div class="col text-center">
              <h2 class="ft-miso display-5">Connect with us!</h2>
              <div class="row">
                <div class="col text-center social-links fs-1">
                  {% include social-media.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Use-cases Section ======= -->
    <section id="use-cases">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>RIOT in the wild</h2>
          <p>User stories</p>
        </div>
        <div class="use-cases-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            {% for use_case in site.use_cases %}
              <div class="swiper-slide">
                <div class="use-case-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ use_case.description }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="{{ use_case.image | default: 'riot-logo.png' | prepend: 'assets/img/use-cases/' | relative_url }}" class="use-case-img" alt="">
                  <h3>{{ use_case.company }}</h3>
                  <h4>{{ use_case.project }}</h4>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End use-case Section -->

  </main><!-- End #main -->

