---
layout: base
---

<main id="main">
{% include breadcrumbs.html %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                    <img src="{{ "assets/img/portfolio/portfolio-details-1.jpg" | relative_url }}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{{ "assets/img/portfolio/portfolio-details-2.jpg" | relative_url }}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{{ "assets/img/portfolio/portfolio-details-3.jpg" | relative_url }}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to RIOT</span></h2>
          <p class="animate__animated fanimate__adeInUp">
            The friendly Operating System for the Internet of Things.
          </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Join the RIOT!</a>
        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>RIOT</h2>
          <p>In a nutshell</p>
        </div>

        <div class="row content">
          <div class="col-12 col-lg-6">
            <p class="lead">
              RIOT powers the Internet of Things like Linux powers the Internet. RIOT is a
              <a href="#license">free, open source </a> operating system developed by a
              <a href="#community">grassroots community</a> gathering companies, academia, and hobbyists,
              <a href="http://summit.riot-os.org/">distributed all around the world</a>.
            </p>
          </div>
          <div class="col-12 col-lg-6 pt-4 pt-lg-0">
            <p class="lead">
              RIOT supports most low-power
              <a href="http://doc.riot-os.org/group__boards.html">IoT devices</a> and
              microcontroller architectures (32-bit, 16-bit, 8-bit). RIOT aims to implement all
              relevant <a href="#features">open standards</a> supporting an Internet of Things that
              is connected, secure, durable & privacy-friendly.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
     <div class="container">
     <div class="row">
      <div class="col-12 col-md-4">
        <div class="card border-0 shadow-sm rounded-2 h-100">
          <div class="card-header p-3 border-0 text-center align-middle">
            <h3 class="card-title align-middle"> <i class="bi bi-terminal me-2"></i> Developer Friendly</h3>
          </div>
          <div class="card-body">
            <div class="card-text">
              <p class="fw-bold text-center">
                Program like you are used to. Do not waste time with complex or new environments.
              </p>
              <ul>
                <li class="pb-3"><i class="ri-check-double-line"></i> Standard programming in C or C++ </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Standard tools such as gcc, gdb, valgrind </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Minimized hardware dependent code </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Zero learning curve for embedded programming </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Code once, run on 8-bit platforms (e.g. Arduino Mega 2560), 16-bit platforms (e.g. MSP430), and 32-bit platforms (e.g. ARM) </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Partial POSIX compliance. Towards full POSIX compliance. </li>
                <li class="pb-3"><i class="ri-check-double-line"></i> Develop under Linux or Mac OS using the native port, deploy on embedded device </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  <div class="col-12 col-md-4">
    <div class="card border-0 shadow-sm rounded-2 h-100">
      <div class="card-header p-3 border-0 text-center">
        <h3 class="card-title"><i class="bi bi-sliders me-2"></i> Resource Friendly</h3>
      </div>
      <div class="card-body">
        <div class="card-text">
          <p class="fw-bold text-center">
            Benefit from a microkernel architecture and a tickless scheduler on very lightweight devices.
          </p>
          <ul>
            <li class="pb-3"><i class="ri-check-double-line"></i> Robustness & code-footprint flexibility </li>
            <li class="pb-3"><i class="ri-check-double-line"></i> Enabling maximum energy-efficiency </li>
            <li class="pb-3"><i class="ri-check-double-line"></i> Real-time capability due to ultra-low interrupt latency (~50 clock cycles) and priority-based scheduling </li>
            <li class="pb-3"><i class="ri-check-double-line"></i> Multi-threading with ultra-low threading overhead (<25 bytes per thread) </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card border-0 shadow-sm rounded-2 h-100">
      <div class="card-header p-3 border-0 text-center">
        <h3 class="card-title"><i class="bi bi-cpu me-2"></i> IoT Friendly</h3>
      </div>
      <div class="card-body">
        <div class="card-text">
          <p class="fw-bold text-center">
            Make your applications ready for the smaller things in the Internet with common system support.
          </p>
          <ul>
            <li class="pb-3"><i class="ri-check-double-line"></i> 6LoWPAN, IPv6, RPL, and UDP</li>
            <li class="pb-3"><i class="ri-check-double-line"></i> CoAP and CBOR</li>
            <li class="pb-3"><i class="ri-check-double-line"></i> LoRaWAN</li>
            <li class="pb-3"><i class="ri-check-double-line"></i> Static and dynamic memory allocation</li>
            <li class="pb-3"><i class="ri-check-double-line"></i> High resolution and long-term timers</li>
            <li class="pb-3"><i class="ri-check-double-line"></i> Tools and utilities (System shell, SHA-256, Bloom filters, ...)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</div>
</div>

      </div>
    </section><!-- End Features Section -->
</main>
