---
layout: simple-page
title: Community
subtitle: We are an open-source grassroots community gathering companies, academia, and hobbyists, distributed all around the world, to build a better IoT.
---

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container">

        <div class="row content">
          <div class="col-12 col-lg-6">
            <p class="lead">
              RIOT is developed by an open community that anyone is welcome to join.
              Decisions in the RIOT community are driven by rough consensus, similar to the IETF. 
              We have a <a href="https://github.com/RIOT-OS/RIOT/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a> to make the social behavoir we value clear.
            </p>
          </div>
          <div class="col-12 col-lg-6 pt-4 pt-lg-0">
            <p class="lead">
              We have a <a href="#history">history</a> of continuous development and progress. Most of our communication is done virtually based on discussions on <a href="https://github.com/RIOT-OS/RIOT/issues">GitHub</a> or our <a href="https://forum.riot-os.org">forum</a>. To foster collaboration, we organize a yearly <a href="#summit">RIOT Summit</a>.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Platform Section ======= -->
    <section class="blog">
      <div class="container">
        <div class="section-title">
          <h2>Join us</h2>
          <p>Meet the RIOT community on the following platforms.</p>
        </div>
        <div class="row">

         <div class="col-12 col-md-4">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://github.com/RIOT-OS/RIOT/"><img class="card-img-top" src="/assets/img/GitHub_Logo.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our coding platform.</h4>-->
               <!--<p class="card-text">Some example text.</p>-->
               <div class="btn-group w-100" role="group">
                 <a href="https://github.com/RIOT-OS/RIOT/" class="btn btn-outline-primary">Code base</a>
                 <a href="https://github.com/topics/riot-os" class="btn btn-outline-primary">RIOT projects</a>
              </div>
             </div>
           </div>
         </div>

         <div class="col-12 col-md-4">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://forum.riot-os.org"><img class="card-img-top" src="/assets/img/discourse_logo.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our forum for discussions.</h4>-->
               <a href="https://forum.riot-os.org" class="btn btn-outline-primary w-100">Join for Q&A and discussions</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-md-4">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://www.hackster.io/riot-os"><img class="card-img-top" src="/assets/img/Hackster_RGB.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our forum for discussions.</h4>-->
               <a href="https://www.hackster.io/riot-os" class="btn btn-outline-primary w-100">Check RIOT showcases</a>
             </div>
           </div>
         </div>

         <div id="socialmedia" class="col-12 col-md-4 mt-5">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://twitter.com/RIOT_OS"><img class="card-img-top" src="/assets/img/twitter-logo-riotos.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our forum for discussions.</h4>-->
               <a href="https://twitter.com/RIOT_OS" class="btn btn-outline-primary w-100">Our news</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-md-4 mt-5">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://fosstodon.org/@riot"><img class="card-img-top" src="/assets/img/mastodon-logo-riot.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our forum for discussions.</h4>-->
               <a href="https://fosstodon.org/@riot" class="btn btn-outline-primary w-100">Our news</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-md-4 mt-5">
           <div class="card border-0 d-flex h-100">
             <div class="card-header d-flex align-items-center justify-content-center h-100 border-0">
               <a href="https://www.youtube.com/channel/UCmcXy2qyoQfq7ByoxtFSOjg"><img class="card-img-top" src="/assets/img/yt_logo_rgb_light.png" alt="Card image"></a>
             </div>
             <div class="card-body px-0">
               <!--<h4 class="card-title">Our forum for discussions.</h4>-->
               <a href="https://www.youtube.com/channel/UCmcXy2qyoQfq7ByoxtFSOjg" class="btn btn-outline-primary w-100">Watch RIOT</a>
             </div>
           </div>
         </div>
        </div>
      </div>
    </section>
    <!-- ======= end Platform Section ======= -->

    <section id="contributors" class="contributors background-dark">
         <div class="container border-1 pt-5 background-dark">
          <div class="section-title">
            <p class="text-white">An ever growing community of people contribute to RIOT</p>
          </div>
           <div id="contributorsList" class="contributors">
             <div class="contributors-item">
             {% assign prefix = site.data.contributors %}
             {% for cont in prefix %}
               <a href="{{ cont.html_url }}"><img  class="contributors-img" src="{{ cont.avatar_url }}" alt=""></a>
             {% endfor %}
             </div>
           </div>
         </div>
    </section>


    <!-- ======= Summit Section ======= -->
    <section id="summit" class="summit">
      <div class="container">
        <div class="section-title">
          <h2>RIOT Summit</h2>
          <p>The yearly get-together of the RIOT community</p>
        </div>

        <div class="row">
            <!-- per Summit -->
            <div class="col-12 col-lg-4 border-0 pt-4">
              <div class="card text-white overflow-hidden h-100 border-0 shadow rounded p-2">
                <h2 class="mb-0">RIOT Summit 2016</h2>
                <h3>Berlin, Germany</h3>
                <a href="https://summit.riot-os.org/2016" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2016.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Ralph Droms (Cisco and former IETF Internet Area Director</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0 pt-4">
              <div class="card text-white overflow-hidden h-100 border-0 shadow rounded p-2">
                <h2 class="mb-0">RIOT Summit 2017</h2>
                <h3>Berlin, Germany</h3>
                <a href="https://summit.riot-os.org/2017" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2017.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Gilles Van Assche
                    (Senior Security Engineer, STMicroelectronics)</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0 pt-4">
              <div class="card text-white overflow-hidden h-100 border-0 shadow rounded p-2">
                <h2 class="mb-0">RIOT Summit 2018</h2>
                <h3>Amsterdam, Netherlands</h3>
                <a href="https://summit.riot-os.org/2018" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2018.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Jaime Jiménez (Ericsson and Co-Chair IETF CoRE)</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0 pt-4">
              <div class="card text-white overflow-hidden h-100 border-0 shadow rounded p-2">
                <h2 class="mb-0">RIOT Summit 2019</h2>
                <h3>Helsinki, Finland</h3>
                <a href="https://summit.riot-os.org/2019" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2019-02.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Jari Arkko (Ericsson and former IETF Chair)</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-0 pt-4">
              <div class="card text-white overflow-hidden h-100 border-0 shadow rounded p-2">
                <h2 class="mb-0">RIOT Summit 2020</h2>
                <h3>Online, the Internet</h3>
                <a href="https://summit.riot-os.org/2020" class="overflow-hidden">
                  <img src="/assets/img/summits/summit2020.jpg" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <p class="card-text">Keynote speaker: Andrew S. Tanenbaum</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- per Summit -->
       </div>
      </div>
    </section><!-- End Blog Section -->
    <!-- ======= End Summit Section ======= -->

  <!-- ======= History Section ======= -->
  <section id="history" class="container-fluid text-gray background-dark">
    <div class="container">

      <div class="section-title">
        <h2 class="text-white">About</h2>
        <p class="text-white">History</p>
      </div>

<!--
      <div id="timeline">
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded">
              <div class="card-body">
                <h4>2008</h4>
                <p>
                  <p>
                    Project roots. The seed for RIOT was FeuerWare, an operating system for Wireless
                    Sensor Networks. It was part of the FeuerWhere project where firefighters should
                    be monitored. Major design goals were reliability and real-time guarantees.
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-6 text-start position-relative">
            <div class="card shadow p-2 border-0 rounded">
              <div class="card-body">
                <h4>2010</h4>
                <p>
                  Towards Internet compliance. To increase modularity and include new IETF
                  protocols, &micro;kleos was forked from the orignal FeuerWare repository. Support
                  for 6LoWPAN, RPL, and TCP was integrated over the following years.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded">
              <div class="card-body">
                <h4>2013</h4>
                <p>
                  RIOT goes public, founded by Freie Universit&auml;t Berlin, INRIA, and HAW
                  Hamburg. RIOT is the direct successor of µkleos. We decided on re-branding to
                  avoid problems with spelling and pronouncing the name of the operating system. We
                  explicitly promote RIOT to a larger community.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-6 text-start position-relative">
            <div class="card shadow p-2 border-0 rounded"
              <div class="card-body">
                <h4>2016</h4>
                <p>
                  The RIOT community is growing. To bring RIOTers together, we organized the first
                  RIOT Summit, which accommodates plenary talks, hands-on tutorials, and demos, as
                  well as lively discussions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 text-end position-relative">
            <div class="card shadow p-2 border-0 rounded">
              <div class="card-body">
                <h4>Future</h4>
                <p>
                  We have a <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Vision">vision</a>.
                  Be part of the community and follow ongoing enhancements in our
                  <a href="https://github.com/RIOT-OS/RIOT/labels/Type%3A%20new%20feature">issue tracker</a>.
                  Start working on new features or let the RIOT community know what you miss!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
-->

        <div class="row">
          <div class="col-12 col-md-4">
            <h4 class="text-white">2008</h4>
            <p>
              <p>Project roots. The seed for RIOT was FeuerWare, an operating system for Wireless Sensor Networks. It was part of the FeuerWhere project where firefighters should be monitored. Major design goals were reliability and real-time guarantees.</p>
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="text-white">2010</h4>
              <p>
                Towards Internet compliance. To increase modularity and include new IETF protocols, &micro;kleos was forked from the orignal FeuerWare repository. Support for 6LoWPAN, RPL, and TCP was integrated over the following years.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="text-white">2013</h4>
              <p>
                RIOT goes public, founded by Freie Universit&auml;t Berlin, INRIA, and HAW Hamburg. RIOT is the direct successor of µkleos. We decided on re-branding to avoid problems with spelling and pronouncing the name of the operating system. We explicitly promote RIOT to a larger community.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="text-white">2016</h4>
              <p>
                The RIOT community is growing. To bring RIOTers together, we organized the first RIOT Summit, which accommodated plenary talks, hands-on tutorials, and demos, as well as lively discussions. Since then, the RIOT Summit takes place yearly.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="text-white">2017</h4>
              <p>
                After nine releases since 2013, we moved to a quarterly release cycle.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="text-white">Future</h4>
              <p>
                We have a <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Vision">vision</a>. Be part of the community and follow ongoing enhancements in our <a href="https://github.com/RIOT-OS/RIOT/labels/Type%3A%20new%20feature">issue tracker</a>. Start working on new features or let the RIOT community know what you miss!
              </p>
          </div>
        </div>
      </div> 

      <div class="container">
        <div class="section-title mt-5">
          <p class="text-white">Scientific Papers</p>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <ul>
              <li>Heiko Will, Kaspar Schleiser, and Jochen H. Schiller, "A real-time kernel for wireless sensor networks employed in rescue scenarios", in Proceedings of IEEE Conference on Local Computer Networks (LCN), 2009.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
              <ul>
                <li>Emmanuel Baccelli, Oliver Hahm, Mesut Günes, Matthias W&auml;hlisch, Thomas C. Schmidt, "RIOT OS: Towards an OS for the Internet of Things," in Proceedings of the 32nd IEEE International Conference on Computer Communications (INFOCOM), Poster Session, April 2013.</li>
              </ul>
          </div>
          <div class="col-12 col-md-4">
              <ul>
                <li>Emmanuel Baccelli, Cenk Gündogan, Oliver Hahm, Peter Kietzmann, Martine Lenders, Hauke Petersen, Kaspar Schleiser, Thomas C. Schmidt, Matthias W&auml;hlisch, RIOT: An Open Source Operating System for Low-End Embedded Devices in the IoT, IEEE Internet of Things Journal, Vol. 5, No. 6, pp. 4428-4440, December 2018.</li>
              </ul>
          </div>
        </div>
      </div>
  </section>
  <!-- ======= end History Section ======= -->

  <section>
      <div class="container">
        <div class="section-title">
          <p>Acknowledgments and Contact</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <h4>Personal Thanks</h4>
            <p>
              To the original authors of FeuerWare, the members of the research projects AVS Extrem, G-Mesh-Lab, OPNEX, SAFEST, and VIVE, and anybody else who has contributed to FeuerWare, µkleos, and RIOT. Furthermore, a special thank goes to Peter Schmerzl!
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>First Supporters</h4>
              <p>
                RIOT is significantly supported by <a href="http://ilab.cs.fu-berlin.de/">Freie Universit&auml;t Berlin</a>, by <a href="http://www.inria.fr/en/">INRIA</a>, and by <a href="http://inet.haw-hamburg.de/">Hamburg University of Applied Sciences</a>.
              </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>Contact</h4>
              <p>
                Many people are working on RIOT. Public development questions should be directed to the <a href="https://forum.riot-os.org">RIOT forum</a>. If you require one-to-one communication for other development questions, you can contact the <a href="mailto:riot@riot-os.org">RIOT maintainers</a>, and for questions related to formal project establishment or collaboration, you can contact <a href="Emmanuel.Baccelli@inria.fr">Emmanuel Baccelli</a>, <a href="t.schmidt@haw-hamburg.de">Thomas Schmidt</a>, and <a href"m.waehlisch@fu-berlin.de">Matthias W&auml;hlisch</a>.
              </p>
          </div>
        </div>

      </div>
    </div>

    <section id="social-media">
      <div class="container-fluid background-dark text-white p-5">
        <div class="container" data-aos="zoom-out">
          <div class="row">
            <div class="col text-center">
              <h2 class="ft-miso display-5">Connect with us!</h2>
              <div class="row">
                <div class="col text-center social-links fs-1">
                  {% include social-media.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include use-cases-carousel.html %}

  </main><!-- End #main -->

