---
layout: base
main: true
---

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated fanimate__adeInUp">
            Welcome to the friendly Operating System for the Internet of Things.
          </h2>
          <!--<img src="assets/img/riot-logo-large.png" width=80%>-->
          <!--<h2 class="animate__animated animate__fadeInDown">Welcome to RIOT</span></h2>-->
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Join the RIOT!</a>
        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(64,166,135, .2)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="9" fill="rgba(64,166,135, 1)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(188,32,42, .7)">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>RIOT</h2>
          <p>In a nutshell</p>
        </div>

        <div class="row content">
          <div class="col-12 col-lg-6">
            <p class="lead">
              RIOT powers the Internet of Things like Linux powers the Internet. RIOT is a
              <a href="#license">free, open source </a> operating system developed by a
              <a href="#community">grassroots community</a> gathering companies, academia, and hobbyists,
              <a href="http://summit.riot-os.org/">distributed all around the world</a>.
            </p>
          </div>
          <div class="col-12 col-lg-6 pt-4 pt-lg-0">
            <p class="lead">
              RIOT supports most low-power
              <a href="http://doc.riot-os.org/group__boards.html">IoT devices</a> and
              microcontroller architectures (32-bit, 16-bit, 8-bit). RIOT aims to implement all
              relevant <a href="#features">open standards</a> supporting an Internet of Things that
              is connected, secure, durable & privacy-friendly.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  <!-- ======= Friendly Tables Section ======= -->
  <section id="friendly-tables">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card border-0 shadow-sm rounded-2 h-100">
            <div class="card-header p-3 border-0 text-center align-middle">
              <h3 class="card-title align-middle"> <i class="bi bi-terminal me-2"></i> Developer Friendly</h3>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p class="fw-bold text-center">
                  Program as you are used to. Save time with common environments.
                </p>
                <ul class="check_style">
                  <li class="pb-3"> Standard programming in C or C++ </li>
                  <li class="pb-3"> Standard tools: gcc, gdb, valgrind </li>
		  <li class="pb-3"> Zero learning curve for embedded programming </li>
                  <li class="pb-3"> Code mostly without hardware dependence </li>
                  <li class="pb-3"> Code once, run on 8-bit  (e.g., Arduino Mega 2560), 16-bit  (e.g.,
                    MSP430), and 32-bit platforms </li>
                  <li class="pb-3"> Benefit from POSIX compliance </li>
                  <li class="pb-3"> Develop under Linux, Mac OS, or Windows </li>
		  <li class="pb-3"> Use the native port, deploy on embedded device when running </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0 shadow-sm rounded-2 h-100">
            <div class="card-header p-3 border-0 text-center">
              <h3 class="card-title"><i class="bi bi-cpu me-2"></i> Resource Friendly</h3>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p class="fw-bold text-center">
                  Benefit from a microkernel and tickless scheduling on the lower end.
                </p>
                <ul class="check_style">
                  <li class="pb-3"> Robustness & code-footprint flexibility </li>
                  <li class="pb-3"> Fosters energy-efficiency </li>
                  <li class="pb-3"> Real-time capable by limiting interrupt latency (~50 clock cycles) and
                    priority-based scheduling </li>
                  <li class="pb-3"> Multi-threading with ultra-low  overhead (<25 bytes per thread) </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0 shadow-sm rounded-2 h-100">
            <div class="card-header p-3 border-0 text-center">
              <h3 class="card-title"><i class="bi bi-lightbulb me-2"></i> IoT Friendly</h3>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p class="fw-bold text-center">
                  Make your applications seamlessly ready for the smaller things on the Internet.
                </p>
                <ul class="check_style">
                  <li class="pb-3"> 6LoWPAN, IPv6, RPL, UDP, TCP, QUIC</li>
                  <li class="pb-3"> CoAP and CBOR</li>
                  <li class="pb-3"> BLE, LoRaWAN, 802.15.4</li>
		  <li class="pb-3"> LWM2M client integration</li>
                  <li class="pb-3"> Static and dynamic memory allocation</li>
                  <li class="pb-3"> High resolution and long-term timers</li>
                  <li class="pb-3"> Tools and utilities (System shell, Crypto primitives, ...)</li>
		  <li class="pb-3"> Automated testing on various embedded hardware in the loop</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </section><!-- End Friendly Tables Section -->

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="section-title" data-aos="zoom-out">
          <h2>Out of the box</h2>
          <p>Features</p>
        </div>
      </div>

      <div class="row">

        <div class="col-12 col-md-4 h-100" data-aos="zoom-in-left">
          <div class="card shadow p-2 border-0 rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-2 feature-icon d-flex align-items-center"><h1><i class="ri-open-source-line"></i></h1></div>
                <div class="col">
                  <h5>Open source</h5>
                  <h6 class="mb-2 text-muted">RIOT is free software</h6>
                  <p>
                    You can redistribute it and/or modify. Software developed by the RIOT community
                    is available under the terms of the GNU Lesser General Public License as
                    published by the Free Software Foundation, version 2.1
                    <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html">(LGPLv2.1)</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End feature -->

        <div class="col-12 col-md-4" data-aos="zoom-in-left">
          <div class="card shadow h-100 p-2 border-0 rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-2 feature-icon d-flex align-items-center"><h1><i class="ri-links-fill"></i></h1></div>
                <div class="col">
                  <h5>Lorem Ipsum</h5>
                  <h6 class="mb-2 text-muted">Dolor Sitema</h6>
                  <p>
                    Duis imperdiet lectus a eleifend euismod. Ut venenatis metus sem, et aliquam
                    quam posuere a. Donec lacus nisi, pulvinar nec pulvinar quis, sodales ut quam.
                    Maecenas et mauris id magna laoreet laoreet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End feature -->

        <div class="col-12 col-md-4" data-aos="zoom-in-left">
          <div class="card shadow h-100 p-2 border-0 rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-2 feature-icon d-flex align-items-center"><h1><i class="ri-bluetooth-line"></i></h1></div>
                <div class="col">
                  <h5>Lorem Ipsum</h5>
                  <h6 class="mb-2 text-muted">Dolor Sitema</h6>
                  <p>
                    Morbi posuere, justo nec vestibulum finibus, urna mi lobortis nunc, ut molestie
                    elit dolor eu purus. Praesent posuere eget libero sed vestibulum. Mauris lacinia
                    consequat elit, id viverra est.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End feature -->

      </div>
    </div>
  </section>

    <!-- ======= Counters Section ======= -->
    <section id="counters">
      <div class="container">

        <div class="row" data-aos="fade-up" data-aos-id="countUp">
          <div class="col-md-3 col-12 text-center">
            <h2 class="count">{{ site.data.riot_stats.commits }}</h2>
            <p>Commits</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.riot_stats.contributors }} </h2>
            <p>Contributors</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.riot_stats.boards }} </h2>
            <p>Boards</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.riot_stats.cpus }} </h2>
            <p>Supported CPUs</p>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">
        <div class="section-title">
          <h2>Blog</h2>
          <p>What's new in RIOT</p>
        </div>

        <div class="row" data-aos="fade-up">

          {% for post in site.posts limit:3 %}
            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden">
                <a href="{{ post.url }}" class="overflow-hidden">
                  <img src="{% link /assets/img/blog/{{ post.image }} %}" class="card-img" alt="">
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="card-text"><small>Posted on {{ post.date | date: "%Y-%m-%d" }}</small></p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section><!-- End Blog Section -->

    <div id="community">
      <div class="container border-top border-1 pt-5">
        <div class="section-title">
          <h2>Get in touch</h2>
          <p>Community</p>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 border border-1 rounded-1" id="twitter-timeline">
            <a class="twitter-timeline" data-lang="en" data-dnt="true" data-theme="light" href="https://twitter.com/RIOT_OS?ref_src=twsrc%5Etfw">Follow us! RIOT_OS</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-12 col-md-4">
            <h4>Developers</h4>
            <p class="lead">
              You want to participate and contribute to the kernel development or integrate new MCU
              and platform support? You're welcome!
            </p>
            <p>
              Read the
              <a href="https://github.com/RIOT-OS/RIOT/blob/master/CONTRIBUTING.md">newcomer guide</a>
              and scan through our
              <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Community-Processes">community processes</a>.
              Subscribe to the <a href="https://forum.riot-os.org/">RIOT Forum</a>, which is the
              right place in case you have questions. For live discussions, join the IRC channel
              <a href="irc://irc.freenode.net/#riot-os">#riot-os</a> at
              <a href="irc://irc.freenode.net/#riot-os">irc.freenode.net</a>
              or our <a href="https://matrix.to/#/#riot-os:matrix.org">Matrix chat</a>.
            </p>
            <p>
              The RIOT issue tracker informs about bugs and enhancement requests. You could also
              subscribe to the notifications mailing list to get informed about new issues,
              comments, and pull requests. All commits to the source code will be posted to the
              commits mailing list. Take a look at our coding conventions and development
              procedures.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h4>Users</h4>
            <p>
              Whether you are looking for help with writing an application for RIOT, learn more
              about it, or just want to stay in the loop, you are invited to join the RIOT Forum.
              We are also available on Stack Overflow. If you are looking for existing open source
              projects that are based on RIOT, you can check GitHub #riot-os and hackster.io.
            </p>
            <p>
              <strong>RIOTers meet face to face at the annual RIOT Summit.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <section id="social-media">
      <div class="container-fluid background-dark text-white p-5">
        <div class="container" data-aos="zoom-out">
          <div class="row">
            <div class="col text-center">
              <h2 class="ft-miso display-5">Connect with us!</h2>
              <div class="row">
                <div class="col text-center social-links fs-1">
                  {% include social-media.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Use-cases Section ======= -->
    <section id="use-cases">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>RIOT in the wild</h2>
          <p>User stories</p>
        </div>
        <div class="use-cases-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            {% for use_case in site.use_cases %}
              <div class="swiper-slide">
                <div class="use-case-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ use_case.description }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="{{ use_case.image | default: 'riot-logo.png' | prepend: 'assets/img/use-cases/' | relative_url }}" class="use-case-img" alt="">
                  <h3>{{ use_case.company }}</h3>
                  <h4>{{ use_case.project }}</h4>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End use-case Section -->

    <section>
      <div class="container">
        <div class="section-title">
          <h2>First steps</h2>
          <p>Get started</p>
        </div>

        <div class="row">
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tellus
            ante, aliquam at nisl at, lacinia elementum dui. Ut in nunc
            lobortis, vehicula est in, viverra est. Nam quis libero dui.
            Suspendisse ut porta neque. Nunc eu ipsum varius, placerat quam a,
            egestas velit. Vivamus aliquam ultricies magna nec ultricies. Nulla
            sed ligula tortor. Quisque hendrerit nec odio vitae interdum.
            Curabitur auctor elementum commodo. Aenean ultrices, ligula vitae
            tincidunt sollicitudin, mi est aliquet lectus, id laoreet nibh erat
            a metus. Sed tempor est diam, eu sodales tortor ultricies sit amet.
            Curabitur sed lacus tempor, lobortis neque sed, imperdiet eros.
            Integer faucibus turpis sed diam ornare, et viverra ipsum rutrum.
            Vivamus vehicula lobortis libero sit amet facilisis.
          </p>
        </div>
      </div>
    </section>

<!-- hide this on production for now -->
{% if jekyll.environment == "development" %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                  <img src="{{ "assets/img/team/team-1.jpg" | relative_url }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                  <img src="{{ "assets/img/team/team-2.jpg" | relative_url }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                  <img src="{{ "assets/img/team/team-3.jpg" | relative_url }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                  <img src="{{ "assets/img/team/team-4.jpg" | relative_url }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endif %}
  
  </main><!-- End #main -->

