---
layout: base
main: true
---

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated fanimate__adeInUp">
            Welcome to the friendly Operating System for the Internet of Things.
          </h2>
          <!--<img src="assets/img/riot-logo-large.png" width=80%>-->
          <!--<h2 class="animate__animated animate__fadeInDown">Welcome to RIOT</span></h2>-->
          <a href="#get-started" class="btn-get-started animate__animated animate__fadeInUp scrollto">Join the RIOT!</a>
        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none" aria-label="Decorative waves">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(64,166,135, .2)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="9" fill="rgba(64,166,135, 1)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(188,32,42, .7)">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="p-0">
      <!-- ======= Nutshell Section ======= -->
      <section class="nutshell">
        <div class="container">

          <div class="section-title">
            <h2>RIOT</h2>
            <p>In a nutshell</p>
          </div>

          <div class="row content">
            <div class="col-12 col-lg-6">
              <p class="lead">
                RIOT powers the Internet of Things like Linux powers the Internet. RIOT is a
                <a href="#license">free, open source </a> operating system developed by a
                <a href="#community">grassroots community</a> gathering companies, academia, and hobbyists,
                <a href="http://summit.riot-os.org/">distributed all around the world</a>.
              </p>
            </div>
            <div class="col-12 col-lg-6 pt-4 pt-lg-0">
              <p class="lead">
                RIOT supports most low-power
                <a href="http://doc.riot-os.org/group__boards.html">IoT devices</a> and
                microcontroller architectures (32-bit, 16-bit, 8-bit). RIOT aims to implement all
                relevant <a href="#features">open standards</a> supporting an Internet of Things that
                is connected, secure, durable & privacy-friendly.
              </p>
            </div>
          </div>

        </div>
      </section><!-- End Nutshell Section -->

      <section id="features">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Out of the box usage</h2>
              <p>Features</p>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12 col-lg-6 pt-md-4">
              <div class="card shadow h-100 p-2 border-0 rounded">
                <div class="card-body">
                  <div class="row h-100">
                    <div class="col-2 feature-icon d-flex text-center align-items-center"><h1 class="w-100"><i class="ri-shield-keyhole-line"></i></h1></div>
                    <div class="col">
                      <h5>Security</h5>
                      <h6 class="mb-2 text-muted">RIOT enables secure IoT applications.</h6>
                      <p>
                        RIOT supports DTLS transport layer security, IEEE 802.15.4 encryption,
                        Secure Firmware Updates (SUIT), multiple cryptographic packages, and
                        crypto secure elements.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End feature -->

            <div class="col-md-12 col-lg-6 pt-md-4">
              <div class="card shadow h-100 p-2 border-0 rounded">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2 feature-icon d-flex text-center align-items-center"><h1 class="w-100"><i class="ri-links-line"></i></h1></div>
                    <div class="col">
                      <h5>Connectivity</h5>
                      <h6 class="mb-2 text-muted">RIOT breaks silos.</h6>
                      <p>
                        RIOT is modular to adapt to application needs. We aim to support all common network technologies and Internet standards. RIOT is open to new  developments and often an early adaptor in networking.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End feature -->

            <div class="col-md-12 col-lg-6 pt-md-4">
              <div class="card shadow h-100 p-2 border-0 rounded">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2 feature-icon d-flex text-center align-items-center"><h1 class="w-100"><i class="ri-check-double-line"></i></h1></div>
                    <div class="col">
                      <h5>Quality</h5>
                      <h6 class="mb-2 text-muted">RIOT is constantly tested.</h6>
                      <p>
                        The RIOT community cares about code quality. Therefore, we use established tools such as
                        <a href="http://embunit.sourceforge.net/embunit/">embUnit - Unit Testing </a>
                        and <a href="https://ci.riot-os.org/"> Continuous Integration</a>, performing
                        <a href="https://ci.riot-os.org/RIOT-OS/RIOT/master/latest/robot/robot.xml">Hardware in the Loop (HIL)</a>
                        testing on multiple boards nightly.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End feature -->

            <div class="col-md-12 col-lg-6 pt-md-4">
              <div class="card shadow h-100 p-2 border-0 rounded">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2 feature-icon d-flex text-center align-items-center"><h1 class="w-100"><i class="ri-open-source-line"></i></h1></div>
                    <div class="col">
                      <h5>License</h5>
                      <h6 class="mb-2 text-muted">RIOT is free and open source.</h6>
                      <p>
                        Most of the software developed by the RIOT community
                        is available under the terms of the GNU 
                        <a
                        href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html">LGPLv2.1</a>,
                        published by the Free Software Foundation.
                        This ensures an open Internet and allows for
                        building blocks under different licenses.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End feature -->

          </div>
        </div>
      </section>

    <!-- ======= Friendly Tables Section ======= -->
    <section id="friendly-tables">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="card border-0 shadow-sm rounded-2 h-100">
              <div class="card-header p-3 border-0 text-center align-middle">
                <h3 class="card-title align-middle"> <i class="bi bi-terminal me-2"></i> Developer Friendly</h3>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <p class="fw-bold text-center">
                    Program as you are used to. Save time with common environments.
                  </p>
                  <ul class="check_style">
                    <li class="pb-3"> Standard programming in C or C++ </li>
                    <li class="pb-3"> Standard tools: gcc, gdb, valgrind </li>
                    <li class="pb-3"> Zero learning curve for embedded programming </li>
                    <li class="pb-3"> Code mostly without hardware dependence </li>
                    <li class="pb-3"> Code once, run on 8-bit  (e.g., Arduino Mega 2560), 16-bit  (e.g.,
                      MSP430), and 32-bit platforms </li>
                    <li class="pb-3"> Benefit from POSIX-compliant components </li>
                    <li class="pb-3"> Develop under Linux, Mac OS, or Windows </li>
                    <li class="pb-3"> Use the native port, deploy on embedded device when running </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card border-0 shadow-sm rounded-2 h-100">
              <div class="card-header p-3 border-0 text-center">
                <h3 class="card-title"><i class="bi bi-cpu me-2"></i> Resource Friendly</h3>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <p class="fw-bold text-center">
                    Benefit from a microkernel and tickless scheduling on the lower end.
                  </p>
                  <ul class="check_style">
                    <li class="pb-3"> Robust runtime system </li>
                    <li class="pb-3"> Modular for flexible code-footprint </li>
                    <li class="pb-3"> Fosters energy-efficiency </li>
                    <li class="pb-3"> Real-time capable by limiting interrupt latency (~50 clock cycles) and
                      priority-based scheduling </li>
                    <li class="pb-3"> Multi-threading with ultra-low  overhead (<25 bytes per thread) </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card border-0 shadow-sm rounded-2 h-100">
              <div class="card-header p-3 border-0 text-center">
                <h3 class="card-title"><i class="bi bi-lightbulb me-2"></i> IoT Friendly</h3>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <p class="fw-bold text-center">
                    Make your applications ready for the smaller things on the Internet.
                  </p>
                  <ul class="check_style">
                    <li class="pb-3"> 6LoWPAN, IPv6, RPL, UDP, TCP, QUIC</li>
                    <li class="pb-3"> MQTT-SN, CoAP, and CBOR</li>
                    <li class="pb-3"> BLE, LoRaWAN, 802.15.4, WLAN, CAN</li>
                    <li class="pb-3"> LwM2M client integration</li>
                    <li class="pb-3"> Static and dynamic memory allocation</li>
                    <li class="pb-3"> High resolution and long-term timers</li>
                    <li class="pb-3"> Tools and utilities (System shell, Crypto primitives, ...)</li>
                    <li class="pb-3"> Automated testing on various embedded hardware in the loop</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section><!-- End Friendly Tables Section -->

    <section id="get-started">
      <div class="container">
        <div class="section-title">
          <h2>First steps</h2>
          <p>Get started</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3">
          <div class="col text-center py-4">
            <a href="https://github.com/RIOT-OS/RIOT">
              <div class="card border-0">
                <div class="card-body">
                  <i class="ri-code-s-slash-line me-2 fs-2"></i>
                  <h4 class="pt-3">Get the code</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col text-center py-4">
            <a href="https://doc.riot-os.org/">
              <div class="card border-0">
                <div class="card-body">
                  <i class="ri-file-text-line me-2 fs-2"></i>
                  <h4 class="pt-3">Read the documentation</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col text-center py-4">
            <a href="https://forum.riot-os.org/">
              <div class="card border-0">
                <div class="card-body">
                  <i class="ri-question-line me-2 fs-2"></i>
                  <h4 class="pt-3">Ask questions</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
    </section>
  </section><!-- End About Section -->

    <!-- ======= Counters Section ======= -->
    <section id="counters">
      <div class="container">

        <div class="row" data-aos="fade-up" data-aos-id="countUp">
          <div class="col-md-3 col-12 text-center">
            <h2 class="count">{{ site.data.riot_stats.commits }}</h2>
            <p>Commits</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.contributors.size }} </h2>
            <p>Contributors</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.riot_stats.boards }} </h2>
            <p>Boards</p>
          </div>
          <div class="col-md-3 col-12 text-center">
            <h2 class="count"> {{ site.data.riot_stats.cpus }} </h2>
            <p>Supported CPUs</p>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">
        <div class="section-title">
          <h2>Blog</h2>
          <p>What's new in RIOT</p>
        </div>

        <div class="row" data-aos="fade-up">

          {% for post in site.posts limit:3 %}
            <div class="col-12 col-lg-4 border-0">
              <div class="card text-white overflow-hidden shadow">
                <a href="{% link {{post.path}} %}" class="overflow-hidden">
                  <img src="{% link /assets/img/blog/{{ post.image }} %}" class="card-img" alt="Banner for '{{ page.title }}'">
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="card-text mb-0"><small><i class="ri-time-line align-text-bottom me-2"></i>Posted on {{ post.date | date: "%Y-%m-%d" }}</small></p>
                    <p class="card-text">
                      <small>
                        {% for author in post.authors %}
                          {% if forloop.first %}
                            <i class="ri-user-line"></i> By
                          {% endif %}
                          {{ author.name | default: "Anonymous"}} {% if author.affiliation %} ({{ author.affiliation }}) {% endif %}
                          {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </small>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section><!-- End Blog Section -->

    <div id="community">
      <div class="container border-top border-1 pt-5">
        <div class="section-title">
          <h2>Get in touch</h2>
          <p>On the shoulders of a grassroots community</p>
        </div>

        <div class="row">
          <div class="col-12 col-md-8 col-lg-4 offset-md-2 offset-lg-0 border border-1 rounded-1" id="twitter-timeline">
            <div class="placeholder h-100">
              <div class="col d-flex flex-column justify-content-center align-items-center h-100">
                <i class="ri-twitter-line text-center align-text-bottom"></i>
                <a href="https://twitter.com/RIOT_OS?ref_src=twsrc%5Etfw">Follow us on Twitter! @RIOT_OS</a>
              </div>
            </div>
            <a class="twitter-timeline" data-lang="en" data-dnt="true" data-theme="light" href="https://twitter.com/RIOT_OS?ref_src=twsrc%5Etfw">@RIOT_OS</a>
          </div>
          <hr class="d-block d-lg-none mt-5">
          <div class="col-12 col-md-6 col-lg-4">
            <h4>Developers</h4>
            <p >
              You want to participate and contribute to the kernel development or integrate new MCU
              and platform support? You're welcome!
            </p>
            <p>
              Read the
              <a href="https://github.com/RIOT-OS/RIOT/blob/master/CONTRIBUTING.md">newcomer guide</a>
              and scan through our
              <a href="https://github.com/RIOT-OS/RIOT/wiki/RIOT-Community-Processes">community processes</a>.
              Subscribe to the <a href="https://forum.riot-os.org/">RIOT Forum</a>, which is the
              right place in case you have questions. For live discussions, join the IRC channel
              <a href="irc://irc.freenode.net/#riot-os">#riot-os</a> at
              <a href="irc://irc.freenode.net/#riot-os">irc.freenode.net</a>
              or our <a href="https://matrix.to/#/#riot-os:matrix.org">Matrix chat</a>.
            </p>
            <p>
              The <a href="https://github.com/RIOT-OS/RIOT/issues?state=open">RIOT issue tracker</a> informs about bugs and enhancement requests. You could also
              subscribe to the <a href="http://lists.riot-os.org/mailman/listinfo/notifications/">notifications mailing list</a> to get informed about new issues,
              comments, and pull requests. All commits to the source code will be posted to the
              <a href="http://lists.riot-os.org/mailman/listinfo/commits">commits mailing list</a>. Take a look at our <a href="https://github.com/RIOT-OS/RIOT/blob/master/CODING_CONVENTIONS.md">coding conventions</a>.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h4>Users</h4>
            <p>
              Whether you are looking for help with writing an application for RIOT, learn more
              about it, or just want to stay in the loop, you are invited to join the <a href="https://forum.riot-os.org/">RIOT Forum</a>.
              We are also available on <a href="https://stackoverflow.com/questions/tagged/riot-os">Stack Overflow</a>. 
            </p>
            <p>
              If you are looking for existing open source
              projects that are based on RIOT, you can check <a href="https://github.com/topics/riot-os">GitHub #riot-os</a> and <a href="https://www.hackster.io/riot-os">hackster.io</a>.
            </p>
            <p>
              RIOTers meet face to face at the annual <a href="community.html#summit">RIOT Summit</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="container border-1 pt-5">
        <div class="section-title">
          <p>Contributors from industry, academia, and hobbyist</p>
        </div>
        <div id="contributorsList" class="contributors">
          <div class="contributors-item">
          {% assign prefix = site.data.contributors  | sample: 50 %}
          {% for cont in prefix %}
          <a href="{{ cont.html_url }}"><img  class="contributors-img" src="{{ cont.avatar_url | append: '&s=48' }}" title="{{ cont.login }}" alt=" {{ cont.login }} avatar"></a>
          {% endfor %}
          <a href="{% link community.html %}"> <span class="text-muted">...</span> </a>
          </div>
        </div>
        <div class="col-lg-12 mt-4 text-center">
            <a href="{% link community.html %}" class="btn-learn-more btn-primary btn-lg", role="button">Learn more!</a>
        </div>
      </div>
    </div>

    <section id="social-media">
      <div class="container-fluid background-dark text-white p-5">
        <div class="container" data-aos="zoom-out">
          <div class="row">
            <div class="col text-center">
              <h2 class="ft-miso display-5">Connect with us!</h2>
              <div class="row">
                <div class="col text-center social-links fs-1">
                  {% include social-media.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% include use-cases-carousel.html %}

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          {% for faqs in site.faqs %}
            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq{{ forloop.index }}">{{ faqs.question }}<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq{{ forloop.index }}" class="collapse" data-bs-parent=".faq-list">
                <p>
                  {{ faqs.content }}
                </p>
              </div>
            </li>
          {% endfor %}

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->
  
  </main><!-- End #main -->
