[
  {
    "login": "miri64",
    "id": 675644,
    "node_id": "MDQ6VXNlcjY3NTY0NA==",
    "avatar_url": "https://avatars.githubusercontent.com/u/675644?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/miri64",
    "html_url": "https://github.com/miri64",
    "followers_url": "https://api.github.com/users/miri64/followers",
    "following_url": "https://api.github.com/users/miri64/following{/other_user}",
    "gists_url": "https://api.github.com/users/miri64/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/miri64/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/miri64/subscriptions",
    "organizations_url": "https://api.github.com/users/miri64/orgs",
    "repos_url": "https://api.github.com/users/miri64/repos",
    "events_url": "https://api.github.com/users/miri64/events{/privacy}",
    "received_events_url": "https://api.github.com/users/miri64/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 4590
  },
  {
    "login": "aabadie",
    "id": 1375137,
    "node_id": "MDQ6VXNlcjEzNzUxMzc=",
    "avatar_url": "https://avatars.githubusercontent.com/u/1375137?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/aabadie",
    "html_url": "https://github.com/aabadie",
    "followers_url": "https://api.github.com/users/aabadie/followers",
    "following_url": "https://api.github.com/users/aabadie/following{/other_user}",
    "gists_url": "https://api.github.com/users/aabadie/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/aabadie/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/aabadie/subscriptions",
    "organizations_url": "https://api.github.com/users/aabadie/orgs",
    "repos_url": "https://api.github.com/users/aabadie/repos",
    "events_url": "https://api.github.com/users/aabadie/events{/privacy}",
    "received_events_url": "https://api.github.com/users/aabadie/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 3474
  },
  {
    "login": "haukepetersen",
    "id": 620834,
    "node_id": "MDQ6VXNlcjYyMDgzNA==",
    "avatar_url": "https://avatars.githubusercontent.com/u/620834?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/haukepetersen",
    "html_url": "https://github.com/haukepetersen",
    "followers_url": "https://api.github.com/users/haukepetersen/followers",
    "following_url": "https://api.github.com/users/haukepetersen/following{/other_user}",
    "gists_url": "https://api.github.com/users/haukepetersen/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/haukepetersen/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/haukepetersen/subscriptions",
    "organizations_url": "https://api.github.com/users/haukepetersen/orgs",
    "repos_url": "https://api.github.com/users/haukepetersen/repos",
    "events_url": "https://api.github.com/users/haukepetersen/events{/privacy}",
    "received_events_url": "https://api.github.com/users/haukepetersen/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 2632
  },
  {
    "login": "OlegHahm",
    "id": 1590423,
    "node_id": "MDQ6VXNlcjE1OTA0MjM=",
    "avatar_url": "https://avatars.githubusercontent.com/u/1590423?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/OlegHahm",
    "html_url": "https://github.com/OlegHahm",
    "followers_url": "https://api.github.com/users/OlegHahm/followers",
    "following_url": "https://api.github.com/users/OlegHahm/following{/other_user}",
    "gists_url": "https://api.github.com/users/OlegHahm/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/OlegHahm/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/OlegHahm/subscriptions",
    "organizations_url": "https://api.github.com/users/OlegHahm/orgs",
    "repos_url": "https://api.github.com/users/OlegHahm/repos",
    "events_url": "https://api.github.com/users/OlegHahm/events{/privacy}",
    "received_events_url": "https://api.github.com/users/OlegHahm/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 2410
  },
  {
    "login": "kaspar030",
    "id": 4679640,
    "node_id": "MDQ6VXNlcjQ2Nzk2NDA=",
    "avatar_url": "https://avatars.githubusercontent.com/u/4679640?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/kaspar030",
    "html_url": "https://github.com/kaspar030",
    "followers_url": "https://api.github.com/users/kaspar030/followers",
    "following_url": "https://api.github.com/users/kaspar030/following{/other_user}",
    "gists_url": "https://api.github.com/users/kaspar030/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/kaspar030/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/kaspar030/subscriptions",
    "organizations_url": "https://api.github.com/users/kaspar030/orgs",
    "repos_url": "https://api.github.com/users/kaspar030/repos",
    "events_url": "https://api.github.com/users/kaspar030/events{/privacy}",
    "received_events_url": "https://api.github.com/users/kaspar030/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 2324
  },
  {
    "login": "benpicco",
    "id": 1301112,
    "node_id": "MDQ6VXNlcjEzMDExMTI=",
    "avatar_url": "https://avatars.githubusercontent.com/u/1301112?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/benpicco",
    "html_url": "https://github.com/benpicco",
    "followers_url": "https://api.github.com/users/benpicco/followers",
    "following_url": "https://api.github.com/users/benpicco/following{/other_user}",
    "gists_url": "https://api.github.com/users/benpicco/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/benpicco/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/benpicco/subscriptions",
    "organizations_url": "https://api.github.com/users/benpicco/orgs",
    "repos_url": "https://api.github.com/users/benpicco/repos",
    "events_url": "https://api.github.com/users/benpicco/events{/privacy}",
    "received_events_url": "https://api.github.com/users/benpicco/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 1948
  },
  {
    "login": "LudwigKnuepfer",
    "id": 3739173,
    "node_id": "MDQ6VXNlcjM3MzkxNzM=",
    "avatar_url": "https://avatars.githubusercontent.com/u/3739173?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/LudwigKnuepfer",
    "html_url": "https://github.com/LudwigKnuepfer",
    "followers_url": "https://api.github.com/users/LudwigKnuepfer/followers",
    "following_url": "https://api.github.com/users/LudwigKnuepfer/following{/other_user}",
    "gists_url": "https://api.github.com/users/LudwigKnuepfer/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/LudwigKnuepfer/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/LudwigKnuepfer/subscriptions",
    "organizations_url": "https://api.github.com/users/LudwigKnuepfer/orgs",
    "repos_url": "https://api.github.com/users/LudwigKnuepfer/repos",
    "events_url": "https://api.github.com/users/LudwigKnuepfer/events{/privacy}",
    "received_events_url": "https://api.github.com/users/LudwigKnuepfer/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 1017
  },
  {
    "login": "leandrolanzieri",
    "id": 5381296,
    "node_id": "MDQ6VXNlcjUzODEyOTY=",
    "avatar_url": "https://avatars.githubusercontent.com/u/5381296?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/leandrolanzieri",
    "html_url": "https://github.com/leandrolanzieri",
    "followers_url": "https://api.github.com/users/leandrolanzieri/followers",
    "following_url": "https://api.github.com/users/leandrolanzieri/following{/other_user}",
    "gists_url": "https://api.github.com/users/leandrolanzieri/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/leandrolanzieri/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/leandrolanzieri/subscriptions",
    "organizations_url": "https://api.github.com/users/leandrolanzieri/orgs",
    "repos_url": "https://api.github.com/users/leandrolanzieri/repos",
    "events_url": "https://api.github.com/users/leandrolanzieri/events{/privacy}",
    "received_events_url": "https://api.github.com/users/leandrolanzieri/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 1000
  },
  {
    "login": "cgundogan",
    "id": 739129,
    "node_id": "MDQ6VXNlcjczOTEyOQ==",
    "avatar_url": "https://avatars.githubusercontent.com/u/739129?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/cgundogan",
    "html_url": "https://github.com/cgundogan",
    "followers_url": "https://api.github.com/users/cgundogan/followers",
    "following_url": "https://api.github.com/users/cgundogan/following{/other_user}",
    "gists_url": "https://api.github.com/users/cgundogan/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/cgundogan/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/cgundogan/subscriptions",
    "organizations_url": "https://api.github.com/users/cgundogan/orgs",
    "repos_url": "https://api.github.com/users/cgundogan/repos",
    "events_url": "https://api.github.com/users/cgundogan/events{/privacy}",
    "received_events_url": "https://api.github.com/users/cgundogan/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 934
  },
  {
    "login": "bergzand",
    "id": 5160052,
    "node_id": "MDQ6VXNlcjUxNjAwNTI=",
    "avatar_url": "https://avatars.githubusercontent.com/u/5160052?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/bergzand",
    "html_url": "https://github.com/bergzand",
    "followers_url": "https://api.github.com/users/bergzand/followers",
    "following_url": "https://api.github.com/users/bergzand/following{/other_user}",
    "gists_url": "https://api.github.com/users/bergzand/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/bergzand/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/bergzand/subscriptions",
    "organizations_url": "https://api.github.com/users/bergzand/orgs",
    "repos_url": "https://api.github.com/users/bergzand/repos",
    "events_url": "https://api.github.com/users/bergzand/events{/privacy}",
    "received_events_url": "https://api.github.com/users/bergzand/received_events",
    "type": "User",
    "site_admin": false,
    "contributions": 869
  },
]
