-  name: Atmel ATmega1281
   apiurl: https://doc.riot-os.org/group__cpu__atmega1281.html
-  name: Atmel ATmega2560
   apiurl: https://doc.riot-os.org/group__cpu__atmega2560.html
-  name: Atmel ATmega328p
   apiurl: https://doc.riot-os.org/group__cpu__atmega328p.html
-  name: TI CC2538
   apiurl: https://doc.riot-os.org/group__cpu__cc2538.html
-  name: Microchip MIPS common
   apiurl: https://doc.riot-os.org/group__cpu__mips__pic32__common.html
-  name: Nordic nRF5x MCU
   apiurl: https://doc.riot-os.org/group__cpu__nrf5x__common.html
-  name: Atmel SAM0 common
   apiurl: https://doc.riot-os.org/group__cpu__sam0__common.html
-  name: Atmel SAM3
   apiurl: https://doc.riot-os.org/group__cpu__sam3.html
-  name: Atmel SAM common
   apiurl: https://doc.riot-os.org/group__cpu__sam__common.html
-  name: Atmel SAMD10/SAMD20/SAMD21/SAMR21
   apiurl: https://doc.riot-os.org/group__cpu__samd21.html
-  name: Atmel SAML21
   apiurl: https://doc.riot-os.org/group__cpu__saml21.html
-  name: Atmel ATmega1284p
   apiurl: https://doc.riot-os.org/group__cpu__atmega1284p.html
-  name: Atmel ATmega128rfa1
   apiurl: https://doc.riot-os.org/group__cpu__atmega128rfa1.html
-  name: Atmel ATmega256rfr2
   apiurl: https://doc.riot-os.org/group__cpu__atmega256rfr2.html
-  name: Atmel ATmega32u4
   apiurl: https://doc.riot-os.org/group__cpu__atmega32u4.html
-  name: TI CC26x0/CC13x0
   apiurl: https://doc.riot-os.org/group__cpu__cc26x0__cc13x0.html
-  name: TI CC26x2, CC13x2
   apiurl: https://doc.riot-os.org/group__cpu__cc26x2__cc13x2.html
-  name: CC26xx_CC13xx common
   apiurl: https://doc.riot-os.org/group__cpu__cc26xx__cc13xx.html
-  name: CPU
   apiurl: https://doc.riot-os.org/group__cpu.html
-  name: Silicon Labs EFM32/EFR32/EZR32
   apiurl: https://doc.riot-os.org/group__cpu__efm32.html
-  name: ESP32
   apiurl: https://doc.riot-os.org/group__cpu__esp32.html
-  name: ESP8266 / ESP8285
   apiurl: https://doc.riot-os.org/group__cpu__esp8266.html
-  name: ESP Common
   apiurl: https://doc.riot-os.org/group__cpu__esp__common.html
-  name: SiFive fe310
   apiurl: https://doc.riot-os.org/group__cpu__fe310.html
-  name: NXP Kinetis
   apiurl: https://doc.riot-os.org/group__cpu__kinetis.html
-  name: NXP QN908x
   apiurl: https://doc.riot-os.org/group__cpu__qn908x.html
-  name: Microchip SAMD5x/SAME5x
   apiurl: https://doc.riot-os.org/group__cpu__samd5x.html
-  name: Microchip SAML10/SAML11
   apiurl: https://doc.riot-os.org/group__cpu__saml1x.html
-  name: STM32
   apiurl: https://doc.riot-os.org/group__cpu__stm32.html
