group,name
drivers_multimedia,Multimedia Device Drivers
drivers_netdev,Network Device Drivers
drivers_sensors,Sensor Device Drivers
drivers_actuators,Actuator Device Drivers
drivers_storage,Storage Device Drivers
drivers_display,Display Device Drivers
drivers_soft_periph,Soft Peripheral Driver Interface
drivers_power,Power Supply Drivers
drivers_misc,Miscellaneous Drivers
