parent,group,name
drivers_multimedia,drivers_dfplayer,DFPlayer Mini MP3 Player
drivers_netdev,drivers_socket_zep,Socket-based ZEP
drivers_netdev,drivers_nrf52_802154,IEEE802.15.4 Driver for nRF52840 SoCs
drivers_netdev,drivers_nrf5x_nrfble,NRF BLE radio driver
drivers_netdev,drivers_nrf5x_nrfmin,NRF minimal radio driver
drivers_netdev,stm32_eth,STM32 Peripheral Ethernet Driver
drivers_netdev,drivers_atwinc15x0,ATWINC15x0 WiFi module driver
drivers_netdev,drivers_at86rf215,AT86RF215 based drivers
drivers_netdev,drivers_at86rf2xx,AT86RF2xx based drivers
drivers_netdev,drivers_ata8520e,Microchip ATA8520E transceiver
drivers_netdev,drivers_can,CAN Drivers
drivers_netdev,drivers_cc110x,CC1100/CC1100e/CC1101 Sub-GHz transceiver driver
drivers_netdev,drivers_cc1xxx,CC1100/CC1100e/CC1101/CC1200 common code
drivers_netdev,drivers_cc2420,CC2420 radio driver
drivers_netdev,drivers_dose,Differentially Operated Serial Ethernet
drivers_netdev,drivers_enc28j60,ENC28J60
drivers_netdev,drivers_encx24j600,ENCX24J600
drivers_netdev,drivers_ethos,Ethernet-over-serial driver
drivers_netdev,drivers_kw2xrf,KW2x radio-driver
drivers_netdev,drivers_kw41zrf,KW41Z radio-driver
drivers_netdev,drivers_mii,Ethernet Media-Independent Interface (MII)
drivers_netdev,drivers_mrf24j40,MRF24J40 based drivers
drivers_netdev,drivers_netdev_api,Netdev - Network Device Driver API
drivers_netdev,drivers_nrf24l01p,NRF24L01+ driver interface
drivers_netdev,drivers_nrf24l01p_ng,NRF24L01+ (NG) 2.4 GHz trasceiver driver
drivers_netdev,drivers_pn532,PN532 NFC Reader
drivers_netdev,drivers_rn2xx3,RN2483/RN2903 LoRa module driver
drivers_netdev,drivers_slipdev,SLIP network device
drivers_netdev,drivers_sx127x,Semtech SX1272 and SX1276 radios driver
drivers_netdev,drivers_w5100,W5100 ethernet driver
drivers_netdev,drivers_xbee,XBee driver
drivers_netdev,sys_netdev_test,netdev dummy test driver
drivers_sensors,drivers_ccs811,CCS 811 digital gas sensor
drivers_sensors,drivers_ad7746,AD7746 Capacitance-to-digital converter driver
drivers_sensors,drivers_adcxx1c,ADCXX1C ADC device driver
drivers_sensors,drivers_ads101x,ADS101x/111x ADC device driver
drivers_sensors,drivers_adt7310,ADT7310 SPI temperature sensor
drivers_sensors,drivers_adxl345,ADXL345 3-Axis accelerometer
drivers_sensors,drivers_apds99xx,APDS99XX proximity and ambient light sensors
drivers_sensors,drivers_at30tse75x,AT30TSE75x temperature sensor with EEPROM
drivers_sensors,drivers_bh1750fvi,BH1750FVI Light Sensor
drivers_sensors,drivers_bh1900nux,BH1900NUX Temperature sensor
drivers_sensors,drivers_bme680,BME680 Temperature/Humidity/Pressure/Gas sensor
drivers_sensors,drivers_bmp180,BMP180 temperature and pressure sensor
drivers_sensors,drivers_bmx055,BMX055 9-axis sensor
drivers_sensors,drivers_bmx280,BMP280/BME280 temperature, pressure and humidity sensor
drivers_sensors,drivers_cst816s,Cst816S touch screen driver
drivers_sensors,drivers_dcf77,DCF77 long wave receiver with 77,5 kHz
drivers_sensors,drivers_dht,DHT Family of Humidity and Temperature Sensors
drivers_sensors,drivers_ds1307,DS1307 RTC
drivers_sensors,drivers_ds18,DS18 temperature sensor driver
drivers_sensors,drivers_ds3231,DS3231 Real Time Clock
drivers_sensors,drivers_ds3234,DS3234 Extremely Accurate SPI RTC
drivers_sensors,drivers_ds75lx,Maxim DS75LX temperature sensor
drivers_sensors,drivers_fxos8700,FXOS8700 3-axis accelerometer/magnetometer
drivers_sensors,drivers_gp2y10xx,GP2Y10xx Optical Dust Sensor device driver
drivers_sensors,drivers_hdc1000,HDC1000 Humidity and Temperature Sensor
drivers_sensors,drivers_hih6130,HIH6130 humidity and temperature sensor
drivers_sensors,drivers_hmc5883l,HMC5883L 3-axis digital compass
drivers_sensors,drivers_hsc,HSC temperature and pressure sensor
drivers_sensors,drivers_hts221,ST HTS221 digital Humidity Sensor
drivers_sensors,drivers_ina2xx,INA2XX current/power monitor
drivers_sensors,drivers_ina3221,INA3221 current/power monitor
drivers_sensors,drivers_io1_xplained,Atmel IO1 Xplained Extension board
drivers_sensors,drivers_isl29020,ISL29020 light sensor
drivers_sensors,drivers_isl29125,ISL29125 RGB light sensor
drivers_sensors,drivers_itg320x,ITG320X 3-axis gyroscope
drivers_sensors,drivers_jc42,JC42 compliant temperature sensor driver
drivers_sensors,drivers_l3g4200d,L3G4200D gyroscope
drivers_sensors,drivers_lc709203f,LC709203F
drivers_sensors,drivers_lis2dh12,LIS2DH12 Accelerometer
drivers_sensors,drivers_lis3dh,LIS3DH accelerometer
drivers_sensors,drivers_lis3mdl,LIS3MDL 3-axis magnetometer
drivers_sensors,drivers_lpsxxx,LPS331AP/LPS25HB/LPS22HB Pressure Sensors Driver
drivers_sensors,drivers_lsm303dlhc,LSM303DLHC 3D accelerometer/magnetometer
drivers_sensors,drivers_lsm6dsl,LSM6DSL 3D accelerometer/gyroscope
drivers_sensors,drivers_ltc4150,LTC4150 coulomb counter
drivers_sensors,drivers_mag3110,MAG3110 3-Axis Digital Magnetometer
drivers_sensors,drivers_mhz19,MH-Z19 CO2 sensor
drivers_sensors,drivers_mma7660,MMA7660 Accelerometer
drivers_sensors,drivers_mma8x5x,MMA8x5x Accelerometer
drivers_sensors,drivers_mpl3115a2,MPL3115A2 Pressure Sensor
drivers_sensors,drivers_mpu9x50,MPU-9X50 (MPU9150 and MPU9250) accelerometer/magnetometer/gyroscope
drivers_sensors,drivers_mq3,MQ-3 Alcohol Tester
drivers_sensors,drivers_opt3001,OPT3001 Ambient Light Sensor
drivers_sensors,drivers_ph_oem,pH OEM sensor device driver
drivers_sensors,drivers_pir,PIR Motion Sensor
drivers_sensors,drivers_pulse_counter,Pulse counter
drivers_sensors,drivers_qmc5883l,QMC5883L 3-Axis Digital Magnetic Sensor
drivers_sensors,drivers_scd30,SCD30 CO2, temperature and humidity sensor
drivers_sensors,drivers_sdp3x,SDP3x temperature and differential pressure sensor
drivers_sensors,drivers_sds011,SDS011 Laser Dust Sensor
drivers_sensors,drivers_seesaw_soil,Adafruit Seesaw Soil Moisture and Temperature Sensor
drivers_sensors,drivers_sht1x,SHT10/SHT11/SHT15 Humidity and Temperature Sensor
drivers_sensors,drivers_sht2x,SHT2X
drivers_sensors,drivers_shtc1,SHTC1 Temperature and humidity sensor
drivers_sensors,drivers_si1133,Si1133 UV Index/Ambient Light Sensor with I2C
drivers_sensors,drivers_si114x,Si1145/6/7 UV/Ambient light/Proximity sensors
drivers_sensors,drivers_si70xx,Si7006/13/20/21 temperature and humidity sensors
drivers_sensors,drivers_sps30,SPS30 Particulate Matter Sensor
drivers_sensors,drivers_srf02,SRF02 ultrasonic range sensor
drivers_sensors,drivers_srf04,srf04 ultra sonic range finder
drivers_sensors,drivers_srf08,SRF08 ultrasonic range sensor
drivers_sensors,drivers_stmpe811,STMPE811 Touchscreen Controller
drivers_sensors,drivers_tcs37727,TCS37727 RGB Light Sensor
drivers_sensors,drivers_tmp00x,TMP006/TMP007 Infrared Thermopile Sensor
drivers_sensors,drivers_tsl2561,TSL2561 illuminance sensor
drivers_sensors,drivers_tsl4531x,TSL4531x Illuminance sensor
drivers_sensors,drivers_vcnl40x0,VCNL4010/VCNL4020/VCNL4040 Proximity and Ambient Light Sensors
drivers_sensors,drivers_veml6070,VEML6070 UV sensor
drivers_sensors,drivers_sht3x,SHT3x Humidity and Temperature Sensor Series
drivers_actuators,drivers_apa102,APA102 RGB LED
drivers_actuators,drivers_dynamixel,Dynamixel driver
drivers_actuators,drivers_feetech,Feetech driver
drivers_actuators,drivers_grove_ledbar,Grove ledbar
drivers_actuators,drivers_led,Control on-board LEDs
drivers_actuators,drivers_lpd8808,LPD8808 based LED Strip
drivers_actuators,drivers_motor,DC Motor Driver
drivers_actuators,drivers_my9221,MY9221 LED controller
drivers_actuators,drivers_pca9633,PCA9633 I2C PWM controller
drivers_actuators,drivers_pca9685,PCA9685 I2C PWM controller
drivers_actuators,drivers_rgbled,RGB-LED driver
drivers_actuators,drivers_servo,Servo Motor Driver
drivers_actuators,drivers_ws281x,WS2812/SK6812 RGB LED (NeoPixel)
drivers_actuators,drivers_uart_half_duplex,half-duplex UART Driver
drivers_storage,drivers_mtd_at25xxx,MTD wrapper for AT25xxx family of SPI-EEPROMs
drivers_storage,drivers_diskio,Disk IO Driver
drivers_storage,drivers_mtd,Memory Technology Device
drivers_storage,drivers_mtd_at24cxxx,MTD wrapper for AT24cxxx family of I2C-EEPROMs
drivers_storage,drivers_mtd_flashpage,Flashpage MTD
drivers_storage,drivers_mtd_mapper,MTD address mapper
drivers_storage,drivers_mtd_sdcard,mtd wrapper for sdcard_spi
drivers_storage,drivers_mtd_spi_nor,Serial NOR flash
drivers_storage,drivers_nvram,Non-volatile RAM
drivers_storage,drivers_sdcard_spi,SPI SD-Card driver
drivers_display,drivers_aip31068,AIP31068 I2C LCD controller
drivers_display,drivers_disp_dev,Display device generic API
drivers_display,drivers_dsp0401,DSP0401
drivers_display,drivers_hd44780,HD44780 LCD driver
drivers_display,drivers_ili9341,ILI9341 display driver
drivers_display,drivers_pcd8544,PCD8544 LCD driver
drivers_display,drivers_screen_dev,Screen device generic API
drivers_soft_periph,drivers_soft_spi,Soft SPI
drivers_soft_periph,drivers_soft_uart,Software UART
drivers_power,drivers_bq2429x,BQ2429x
drivers_power,drivers_tps6274x,TPS6274x
drivers_misc,drivers_at,AT (Hayes) command set library
drivers_misc,drivers_at24cxxx,AT24CXXX EEPROM unit
drivers_misc,drivers_at24mac,AT24MAC unique ID chip
drivers_misc,drivers_at25xxx,AT25xxx family of SPI-EEPROMs
drivers_misc,drivers_edbg_eui,Driver for getting MAC address out of Atmel EDBG
drivers_misc,drivers_touch_dev,Touch device generic API
