- name: Arduino Duemilanove
  apiurl: https://doc.riot-os.org/group__boards__arduino-duemilanove.html
- name: Dragino LSN50 LoRa Sensor Node
  apiurl: https://doc.riot-os.org/group__boards__lsn50.html
- name: Adafruit Feather nRF52840 Express
  apiurl: https://doc.riot-os.org/group__boards__feather-nrf52840.html
- name: MikroE 6LoWPAN Clicker
  apiurl: https://doc.riot-os.org/group__boards__6lowpan-clicker.html
- name: Atmega256RFR2 rss2
  apiurl: https://doc.riot-os.org/group__boards__avr-rss2.html
- name: OpenMote-cc2538
  apiurl: https://doc.riot-os.org/group__boards__openmote-cc2538.html
- name: Microchip SAML11 Xplained Pro
  apiurl: https://doc.riot-os.org/group__boards__saml11-xpro.html
- name: TTGO T-Beam
  apiurl: https://doc.riot-os.org/group__boards__esp32__ttgo-t-beam.html
- name: Native Board
  apiurl: https://doc.riot-os.org/group__boards__native.html
- name: Silicon Labs SLWSTK6220A starter kit
  apiurl: https://doc.riot-os.org/group__boards__slwstk6220a.html
