<div class="w-100 p-4 rounded-0 fixed-bottom text-center cookiealert" role="alert">
    &#x1F36A; We use third party cookies to ensure you get the best experience on our website.
    <a href="https://gdpr.eu/cookies/" target="_blank">Learn more</a>.
    Read more about our cookie policies in our <a href="{%link privacy-policy.html %}">Privacy Policy</a>.

    <button type="button" class="btn btn-primary btn-sm acceptcookies ms-2">
        OK
    </button>
    <button type="button" class="btn btn-secondary btn-sm rejectcookies ms-2">
        No
    </button>
</div>
