  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col-12">
          <a href="index.html">
            <img src="{{ "assets/img/riot-logo.png" | relative_url }}" alt="" class="logo img-fluid">
          </a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <small class="fw-bold">The friendly Operating System for the Internet of Things.</small>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-center social-links">
          <a href="https://github.com/RIOT-OS/RIOT"><i class="ri-github-fill"></i></a>
          <a href="https://twitter.com/RIOT_OS"><i class="ri-twitter-fill"></i></a>
          <a href="https://fosstodon.org/@riot"><i class="ri-mastodon-fill"></i></a>
          <a href="https://www.youtube.com/channel/UCmcXy2qyoQfq7ByoxtFSOjg"><i class="ri-youtube-fill"></i></a>
        </div>
      </div>
      <div class="copyright">
        <small>&copy; 2013 - {{ "now" | date: "%Y" }}. All Rights Reserved</small>
      </div>
    </div>
  </footer><!-- End Footer -->
