                  <a href="https://github.com/RIOT-OS/RIOT" target="_blank"><span class="visually-hidden">Go to RIOT OS Github</span><i class="ri-github-fill"></i></a>
                  <a href="https://twitter.com/RIOT_OS" target="_blank"><span class="visually-hidden">Go to RIOT OS Twitter</span><i class="ri-twitter-fill"></i></a>
                  <a href="https://fosstodon.org/@riot" target="_blank"><span class="visually-hidden">Go to RIOT OS Mastodon</span><i class="ri-mastodon-fill"></i></a>
                  <a href="https://www.youtube.com/channel/UCmcXy2qyoQfq7ByoxtFSOjg" target="_blank"><span class="visually-hidden">Go to RIOT OS Youtube channel</span><i class="ri-youtube-fill"></i></a>
                  <a href="https://forum.riot-os.org" target="_blank"><span class="visually-hidden">Go to RIOT OS forum</span><i class="ri-chat-1-fill"></i></a>

