<!-- ======= Use-cases Section ======= -->
<section id="use-cases-carousel">
    <div class="container">
        <div class="section-title">
            <h2>RIOT in the wild</h2>
            <p>Users</p>
        </div>
       {% include use-cases-logo-wall.html %}

        <div class="section-title mt-5">
            <p>User stories</p>
        </div>
        <div class="use-cases-slider swiper-container">
            <div class="swiper-wrapper">

                {% for use_case in site.use_cases %}
                  {% if use_case.quote %}
                    <div class="swiper-slide">
                      <div class="use-case-item rounded">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ use_case.quote }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{{ use_case.user_photo | default: 'riot-logo.png' | prepend: 'assets/img/use-cases/' | relative_url }}"
                             class="use-case-img" alt="{{ use_case.user }}">
                        <h3>{{ use_case.user }}</h3>
                        <h4>{{ use_case.user_position }}, {{ use_case.company }}</h4>
                        {% if use_case.project %}
                          <a href="{{ use_case.url }}">Learn more</a>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End use-case Section -->
