<!-- ======= Use-cases Section ======= -->
<section id="use-cases">
    <div class="container">
        <div class="section-title">
            <h2>RIOT in the wild</h2>
            <p>Users</p>
        </div>
       {% include use-cases-logo-wall.html %}

        <div class="section-title mt-5">
            <p>User stories</p>
        </div>
        <div class="use-cases-slider swiper-container">
            <div class="swiper-wrapper">

                {% for use_case in site.use_cases %}
                  {% if use_case.quote %}
                  {% assign company = site.data.companies[use_case.company] %}
                    <div class="swiper-slide">
                      <div class="use-case-item rounded h-100 d-flex flex-column">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            <span class="quote">
                              {{ use_case.quote }}
                            </span>
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{{ use_case.user_photo | default: 'riot-logo.png' | prepend: 'assets/img/use-cases/' | relative_url }}"
                             class="use-case-img" alt="{{ use_case.user }}">
                        <h3>{{ use_case.user }}</h3>
                        <h4>{{ use_case.user_position }}, {{ company.name }}</h4>
                        {% if use_case.project %}
                        <div class="col-12 mb-3 m-auto">
                          <a href="{{ use_case.url }}" class="btn-learn-more btn-lg m-auto", role="button">Learn more!</a>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End use-case Section -->
