        <div class="row row-cols-xxl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-3 d-flex justify-content-center">
          {% assign keys = site.data.companies | sort %}
          {% for key in keys %}
            {% assign company = key[1] %}
            {% if company.logo %}
            <div class="col">
              <div class="card border-0 d-flex h-100 p-4">
                <div class="card d-flex align-items-center justify-content-center h-100 border-0">
                  <a href="{{ company.url }}" target="_blank"><img class="card-img-top" src="{{ company.logo | prepend: 'assets/img/companies/' | relative_url }}" alt="{{ company.name }}"></a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
