// General styles

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
  color: $primary-light;
  text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

.background-dark {
  background-color: $dark !important;
}
