---
layout: base
---

{% assign company = site.data.companies[page.company] %}

<main id="use-case">

  <section class="header">
    <div class="container h-100">
      <div class="row pt-4 d-flex align-items-center text-center h-100">
        <div class="col-12 text-white">

          <h1 class="display-1 w-100 ft-miso "> {{ page.project }} </h1>

          <div class="row pt-4 text-center">
            <div class="col-12">
              {% if company.logo %}
              <img src="{{ company.logo | default: 'riot-logo.png' | prepend: 'assets/img/companies/' | relative_url }}" class="img-fluid" alt="{{ company.name }} logo">
              {% endif %}
              <h4 class="text-uppercase d-inline-block ps-3"><a href="{{ company.url | default: '#'}}" target="_blank">{{ company.name }}</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if page.project %}
  <section class="py-0">
    <div class="container">
      <div class="row">

        <div class="col-lg-2 d-flex order-lg-first col-6 align-items-center navigation">
          {% if page.previous.url %}
          <div class="row pe-2 mb-4 m-lg-0">
            <div class="col-3">
              <a href="{{page.previous.url}}" class="h-100 m-auto d-flex align-items-center"
                 title="Use case: {{page.previous.project}}">
                <i class="ri-arrow-left-s-line fs-3 align-baseline"></i>
              </a>
            </div>
            <div class="col">
              <a href="{{page.previous.url}}" class="h-100 m-auto d-flex align-items-center"
                 title="Use case: {{page.previous.project}}">
                <small class="text-start">
                  <strong>{{page.previous.project}}</strong>
                </small>
              </a>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="col-12 order-first col-lg-8 py-5">
          <div class="row">
            <div class="row">
              <figure class="shadow-sm rounded-1">
                {% if page.user_photo %}
                <img src="{{ page.user_photo | prepend: 'assets/img/use-cases/' | relative_url }}" class="rounded-circle" width="75">
                {% endif %}
                <blockquote class="blockquote">
                  <i class="ri-double-quotes-l"></i>
                  {{ page.quote }}
                  <i class="ri-double-quotes-r"></i>
                </blockquote>
                <figcaption class="blockquote-footer">
                  {{ page.user }}, <cite title="Source Title">{{ page.user_position }}</cite>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            {{ content }}
          </div>
        </div>

        <div class="col-lg-2 d-flex col-6 order-last align-items-center navigation">
          {% if page.next.url %}
          <div class="row ps-2 mb-4 m-lg-0">
            <div class="col">
              <a href="{{page.next.url}}" class="h-100 m-auto d-flex align-items-center"
                 title="Use case: {{page.next.project}}">
                <small class="text-end">
                  <strong>{{page.next.project}}</strong>
                </small>
              </a>
            </div>
            <div class="col-3">
              <a href="{{page.next.url}}" class="h-100 m-auto d-flex align-items-center"
                 title="Use case: {{page.next.project}}">
                <i class="ri-arrow-right-s-line fs-3 align-baseline"></i>
              </a>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>
    </div>
  </section>
  {% endif %}

</main>
